{{ define "main" }}
<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 40px 0;
    padding: 0 20px;
  }

  .volunteers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .volunteer-card {
    width: 220px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: #fff;
  }

  .volunteer-card:hover {
    transform: scale(1.05);
  }

  .volunteer-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .volunteer-name {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .volunteer-title {
    font-size: 0.9em;
    color: gray;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2em;
      margin: 30px 20px;
    }

    .volunteers-list {
      justify-content: space-around;
      padding: 10px;
    }

    .volunteer-card {
      width: 150px;
    }

    .volunteer-photo {
      height: 150px;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.6em;
      margin: 20px 10px;
    }

    .volunteers-list {
      justify-content: center;
    }

    .volunteer-card {
      width: 120px;
    }

    .volunteer-photo {
      height: 120px;
    }
  }
</style>

<h1>{{ .Title }}</h1>

<div class="volunteers-list">
  {{ with .Params.volunteers }} {{ range . }}
  <div
    class="volunteer-card"
    {{
    if
    .link
    }}onclick="window.location='{{ .link }}';"
    {{
    end
    }}
  >
    <img src="{{ .image }}" alt="{{ .name }}" class="volunteer-photo" />
    <h3 class="volunteer-name">{{ .name }}</h3>
    {{ if .title }}
    <p class="volunteer-title">{{ .title }}</p>
    {{ end }}
  </div>
  {{ end }} {{ else }}
  <p>No volunteers found.</p>
  {{ end }}
</div>
{{ end }}
