// Colors
$primary: #f24088;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #f6f7ff;
$steel: #5c5a5a;

// Fonts
// Google fonts are added in `layouts/partials/google-fonts.html`
$font-family-base: "Baloo 2" sans-serif;
$font-family-heading: "Baloo 2" sans-serif;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/alert";
@import "bootstrap/dropdown";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";

// Pages
@import "pages/home";
@import "pages/team/team-summary";
@import "pages/services/page-services-single";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

// Customisations for buttons
.button {
  background-color: #ff1493;
  border:none;
  margin: 0.2rem 0;
}

// We need to remove the underline in <a> buttons
a.button {
  text-decoration: none;
}

// Some extra helpers

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 80%;
}

// The meter element (used for crowdfunding progress)

.meter {
  width: 16em;
}

.meter-large {
  width: 100%;
}

// The progress box itself

.campaign-progress-box {
  padding: 1em;
  border-radius: 1em;
}
