{{ define "main" }}

<section class="feature-list section">
  <div class="container">
      <div class="d-flex">
				<h2 class="mt-1">{{.Title}}</h2>
				<a class="ml-1 align-self-center" href='{{"/blog/index.xml" | absURL }}'><img src="/images/rss.svg" alt="rss feed" width=28 /></a>
			</div>
    {{ range $index, $element := (where .Site.RegularPages "Section" "blog") }}
    <div class="row mb-40 ml-2 mr-2">
      <div class="align-self-center text-center text-md-left">
        <div class="content">
          <a href="{{ .Permalink }}"><h3 class="text-left">{{ .Title | markdownify }}</h3></a>
          <div class="text-secondary text-left">{{.PublishDate.Format "January 2, 2006"}}</div>
          <p class="text-justify">{{ .Summary }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  </div>
</section>

{{ end }}
