{{ define "main" }}

<section class="section">
  <div class="container">
        <h1 class="mb-2">{{.Title | markdownify}}</h1>
        <div class="text-secondary mb-2">
            {{.PublishDate.Format "January 2, 2006"}} | Reading Time: {{.ReadingTime}} min
        </div>
        <div class="content">
          {{.Content}}
        </div>
  </div>
</section>

{{ end }}
