<!--
     Do not show the banner if we are on the same page as the button link.

     This WILL NOT WORK if the link in banner.yaml has a trailing slash.
-->
{{ if ne page.Page.Path $.button.link }}
<div class="container mt-3">
  {{ if $.image }}
  <div>
    <!-- width="100%" is used as a hack to make the pravconf poster look okayish -->
    <img width="100%" src="{{ $.image.url }}" alt="{{ $.image.alt | default "Banner image" }}" />
  </div>
  {{ end }}
  <div class="d-flex justify-content-center align-items-center alert alert-warning">
    {{ if $.icon }}
    <div>
      <img width="75em" src="{{ $.icon.url }}" alt="{{ $.icon.alt | default "Banner icon" }}" class="transparent">
    </div>
    {{ end }}
    <div class="text-center">
    <div>
      <p class="mt-2 ml-1 ">
        <h1>{{$.text}}</h1>
        <a class="button"  href="{{ $.button.link }}">{{ $.button.text }}</a>
      </p>
    </div>
    </div>
  </div>
</div>
{{ end }}
