<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ $active := or
    ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)
    }} {{ $active = or $active (eq .Name $currentPage.Title) }} {{if
    .HasChildren}}
    <div id="about-menu" class="dropdown show about-menu">
      <a
        class="dropdown-toggle"
        href="{{.URL}}"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >{{.Name}}</a
      >
      <div
        id="about-dropdown"
        class="dropdown-menu about-submenu"
        aria-labelledby="dropdownMenuLink"
      >
        {{range .Children}}
        <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
        {{end}}
      </div>
    </div>
    {{else}}
    <li class="menu-item-{{ .Name | lower }} ">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}} {{end}}
  </ul>
</div>
<script>
  const aboutMenu = document.getElementById("about-menu");
  const aboutSubMenu = document.getElementById("about-dropdown");

  // This handler will be executed only once when the cursor
  // is hovered on about menu
  aboutMenu.addEventListener(
    "mouseenter",
    (event) => {
      aboutSubMenu.style.display = "block";
    },
    false,
  );

  // This handler will be executed every time the cursor
  // is moved away from the about menu
  aboutMenu.addEventListener(
    "mouseleave",
    (event) => {
      aboutSubMenu.style.display = "none";
    },
    false,
  );
</script>
