{{ if .Site.Data.social }}
<div id="contact" class="social">
    <h3>{{"Contact Us"}}</h3>
    {{ range .Site.Data.social }}
        <a href="{{ .link }}" target="blank"><img style="margin:auto; width:36px;height:30px;display:block" src="{{ .image | relURL }}" title="{{ .name }}" alt="{{ .name }}" /><br><p style="color:black;">{{ .name }}</p></a>
        {{ end }}
</div>
{{ end }}
