<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {{ if .Site.Data.social }}
            {{ partial "social.html" . }}
          {{ end }}
          {{ if .Site.Params.footer.copyright_text }}
            <div class="copyright">{{ .Site.Params.footer.copyright_text | safeHTML }}</div>
          {{ end }}
          {{ if .Site.Params.footer.mailing_list }}
            <div class="copyright">{{ .Site.Params.footer.mailing_list | safeHTML }}</div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>