{{ define "body_classes" }}page-donate{{ end }}

{{ define "main" }}

<div class="container pb-3 pt-6 pt-md-10 pb-md-5">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <h1 class="title">{{.Title}}</h1>
      <div class="content">{{.Content}}</div>
    </div>
  </div>
</div>

<section class="feature-list section">
  <div class="container">
    <div class="row">
      {{ range $index, $element := (where .Site.RegularPages "Section" "donate") }}
      <div class="col col-12 col-md-6 col-xl-4">
        <div class="content p-2 alert alert-success w-full">
          <a href="{{ .Permalink }}"><h2 class="text-left">{{ .Title | markdownify }}</h3></a>
          <div class="text-secondary text-left">Raised {{ .Params.Units.symbol | default "₹" }}{{ .Params.Reached | lang.FormatNumber 2 }} out of {{ .Params.Units.symbol | default "₹" }}{{ .Params.Target | lang.FormatNumber 2 }}</div>
          <meter class="meter" min="0" max="{{ .Params.Target }}" value="{{ .Params.Reached }}">{{ .Params.Units.symbol | default "₹" }}{{ .Params.Reached | lang.FormatNumber 2 }}/{{ .Params.Units.symbol | default "₹" }}{{ .Params.Target | lang.FormatNumber 2 }}</meter>
          <p class="text-justify">{{ .Summary }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
