{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="alert alert-success mb-3">
        <h1 class="title">{{.Title | markdownify}}</h1>
        <p>{{ .Summary | markdownify }}</p>
        <meter class="meter meter-large" title="{{ .Params.Units.code | default "INR" }}" min="0" max="{{ .Params.Target}}" value="{{ .Params.Reached }}">
          {{ .Params.Units.symbol | default "₹" }}{{ .Params.Reached | lang.FormatNumber 2 }}/{{ .Params.Units.symbol | default "₹" }}{{ .Params.Target | lang.FormatNumber 2 }}
        </meter>
        <p class="mt-0 text-right"><i>Raised {{ .Params.Units.symbol | default "₹" }}{{ .Params.Reached | lang.FormatNumber 2 }} out of {{ .Params.Units.symbol | default "₹" }}{{ .Params.Target | lang.FormatNumber 2 }}</i></p>
        <p>
          <a class="button" href="https://opencollective.com/{{ .Params.donation_pages.opencollective }}/donate?amount={{ cast.ToString .Params.suggested_amount.usd | default 10 }}">Fund via Open Collective</a>
          <a class="button" href="https://pages.razorpay.com/pl_NseNHjx2s9qd00/view?reason={{ .Params.donation_pages.razorpay }}">Fund via Razorpay</a>
        </p>
        <p class="small"><i>Open Collective supports all global payment methods. Razorpay supports India-specific methods like UPI and is preferred for donors based in India</i></p>
      </div>
      <div class="content">{{.Content}}</div>
    </div>
  </div>
</div>
{{ end }}
